    @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
    body {
        background-color: #E5F8FD;
        display: flex;
        justify-content: center;
        .map {
            display: flex;
            width: 600px;
            img {
                width: 100%;
            }
            .palma {
                border-radius: 50%;
                width: 25px;
                height: 25px;
                background: #f8572e;
                position: relative;
                top: 300px/600px*100%;
                right: 435px/600px*100%;
                color: #f8572e;
            }
            .calvia {
                @extend .palma;
                top: 340px/600px*100%;
                right: 540px/600px*100%;
            }
            .andratx {
                @extend .palma;
                top: 310px/600px*100%;
                right: 615px/600px*100%;
            }
            .llucmajor {
                @extend .palma;
                top: 350px/600px*100%;
                right: 445px/600px*100%;
            }
            .manacor {
                @extend .palma;
                top: 290px/600px*100%;
                right: 255px/600px*100%;
            }
            .text {
                display: none;
                background-color: white;
                border: 1px solid #f8572e;
                width: auto;
                height: 15px;
                border-radius: 7px;
                padding: 6px;
                font-family: 'Open Sans', sans-serif;
                position: relative;
            }
            #palma {
                @extend .text;
                top: 269px/600px*100%;
                right: 574px/600px*100%;
            }
            #calvia {
                @extend .text;
                top: 310px/600px*100%;
                right: 655px/600px*100%;
            }
            #andratx {
                @extend .text;
                top: 270px/600px*100%;
                right: 714px/600px*100%;
            }
            #llucmajor {
                @extend .text;
                top: 320px/600px*100%;
                right: 504px/600px*100%;
            }
            #manacor {
                @extend .text;
                top: 260px/600px*100%;
                right: 308px/600px*100%;
            }
        }
    }
    
    .tiempo_palma {
        background-color: white;
        border: 1px solid #f8572e;
        position: relative;
        top: 211px;
        right: 466px;
        display: flex;
        height: 45px;
        flex-direction: column;
        padding: 5px;
        text-align: center;
        display: none;
        .foto {
            width: 30px;
            display: flex;
            height: 30px;
            img {
                width: 100%;
            }
            span {
                font-size: 1px;
            }
        }
        .maxmin {
            width: 80px;
        }
    }
    
    .tiempo_calvia {
        @extend .tiempo_palma;
        top: 250px;
        right: 540px;
    }
    
    .tiempo_andratx {
        @extend .tiempo_palma;
        top: 220px;
        right: 615px;
    }
    
    .tiempo_llucmajor {
        @extend .tiempo_palma;
        top: 260px;
        right: 369px;
    }
    
    .tiempo_manacor {
        @extend .tiempo_palma;
        top: 200px;
        right: 190px;
    }
    
    @media only screen and (max-width: 725px) {
        .map {
            width: 100%
        }
    }